h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
#home{
  font-size: 32px;
  font-weight:bold;
}
h4{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
#white{
  font-size: 23px;
  font-weight: bold;
  color:white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.footer{
  font-size:11px;
  background-color:dimgray;
  cursor: pointer;
  text-decoration: underline;
  text-align: left;
  color: white;
}
#picture{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}
body{
  font-family: Helvetica;
  text-align: center;
}
h6 {
  font-size: 18px;
  color: white;
}
.cta {
    color: white;
  }
  .s {
    color: white;
  }
